@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif !important;
}
*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
  font-family: "Quicksand", sans-serif !important;
  /* transition-duration: 5s; */
}
html, body {
  scroll-behavior: smooth !important;
}

#team, #news{
  transition: transform 0.5s ease-in-out;
}
.poppins{
  font-family: "Poppins", sans-serif !important;
}
.poin * {
  pointer-events: none;
}
video{
  object-fit: cover;
}
button {
  cursor: pointer;
}
#carousel{
  transition: 200ms appear ease-in-out;
  transition-delay: 200ms;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.soft-bd-shadow {
  border: 1px solid #e4e0e5;
  box-shadow: 0px 0px 30px rgba(166, 158, 170, 0.15);
}
.hoverbutton:hover, .scale-on-hover:hover{
  transition: .3s;
  transform: scale(1.04)
}
.childhoverbutton:hover *{
  transition: .3s;
  transform: scale(1.2);
  transition-duration: .4s;
}
.childhoverbutton :hover {
  transition: 0.3s;
  transform: scale(1.04);
  transition-duration: 0.4s;
}

ul {
  list-style-type: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
}
.modal-layout > div {
  animation: popup 0.4s;
}
.marquee-item {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 3s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes popup {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #228be6;
}

input {
  min-width: 0;
}
.position-center{
   position: absolute;
  top: 35%;
  
  transform: translateY(-50%);
  width: fit-content;
  z-index: 33;
}
button:disabled,
button[disabled] {
  opacity: 0.5;
  /* border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
  /* 0% {
    background: linear-gradient(90deg, #5345E6, #8F34E9);
  }
  50% {
    background: linear-gradient(90deg, #8F34E9, #B253E9);
  }
  100% {
    background: linear-gradient(90deg, #5345E6, #8F34E9);
  } */
}

.animated-gradient {
   border-color: linear-gradient(90deg, 
        #ff0000, #ff7f00, #ffff00, #00ff00, 
        #0000ff, #4b0082, #9400d3, #ff0000);
  background-size: 200% 200%;
  position: absolute;
  top: -2px;
  left: -2px;
  inset: -2px;
  right: -2px;
  bottom: -2px;
  /* animation: moveGradient 5s linear infinite; */
  animation: gradientShift 2s linear infinite;
}
.buttonreal{
  background: #5345E6;
}
.buttonreal::before{
    content: '';
    position: absolute;
    /* z-index: -4; */
    top: -2px;
    /* left: -3px; */
    /* right: 3px; */
    bottom: -2px;
    width: 102%;
    border-radius: 30px;
    background: linear-gradient(90deg, 
        #ff0000, #ff7f00, #ffff00, #00ff00, 
        #0000ff, #4b0082, #9400d3, #ff0000);
    background-size: 200% 200%;
    z-index: -1;
    animation: rainbow-border2 2s linear infinite;
}
@keyframes rainbow-border2 {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
/* .buttonreal::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 2px;
    right: -10px;
    width: 100%;
    bottom: -1px;
    border-radius: 30px;
    background: #131417;
    z-index: -1;
    filter: blur(1px);
} */
.bg-purple-custom {
  background-color: #4a3353;
}
.bd-purple-custom {
  border-color: #4a3353;
  border-right: 1px;
}
.text-purple-custom {
  color: #4a3353;
}

.noti-content span{
  font-weight: 700;
}
/* for spinner */
.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgb(255, 255, 255);
  /* background: brown; */
  z-index: 10;
}
.spinner {
  position: absolute;
}
.spinner img {
  width: 200px;
  height: 200px;
  margin: 0px auto;
  animation: scale 0.5s infinite linear;
  -moz-animation: scale 0.5s infinite linear;
  -o-animation: scale 0.5s infinite linear;
}
.spinnerloader {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.Toastify__toast--success {
  border: 1px solid #3A9EA5 !important;
  background: #F0F9FA !important;
  font-size:"13px" !important;
  color: #000000 !important;
  font-family: "Quicksand", sans-serif !important;
 

}
table {
  border-collapse: separate; 
  border-spacing: 0 10px ;
}
.Toastify__toast--error {
  border: 1px solid #EB5757;
  background: #FAE1E2 !important;
  font-size:"13px" !important;
  color: #000000 !important;
  font-family: "Quicksand", sans-serif !important;
}

/* tr:nth-child(even) {
  background-color: #cad1da;
}

tr:not(:has(th)):hover {
  background-color: #f1f1f1; 
} */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#testiscroll::-webkit-scrollbar {
  height: 6px;
}
#testiscroll::-webkit-scrollbar-track {
  
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#testiscroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* .delete-tr td:not(:last-child) {
  opacity: 0.5;
  text-decoration: line-through;
} */

.delete-tr {
  opacity: 0.5;
  text-decoration: line-through;
}

@keyframes dropNav {
  from {
    left:-150%;
    
  }

  to {
    left: 0%;

  }
}
.navboi{
  animation: dropNav 0.5s ease-in
}

.button1::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: -3px;
    bottom: 0px;
    border-radius: 150px;
    background: linear-gradient(90deg, 
        #ff0000, #ff7f00, #ffff00, #00ff00, 
        #0000ff, #4b0082, #9400d3, #ff0000);
    background-size: 200% 200%;
    z-index: -1;
    animation: rainbow-border 2s linear infinite;
}
.button12::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: -3px;
    bottom: 0px;
    border-radius: 150px;
    opacity: 0.2;
    background: linear-gradient(90deg, 
        #ff0000, #ff7f00, #ffff00, #00ff00, 
        #0000ff, #4b0082, #9400d3, #ff0000);
    background-size: 200% 200%;
    z-index: -1;
    animation: rainbow-border 2s linear infinite;
}
@keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.herobtn{
    background: linear-gradient(90deg, #5345E6 0%, #8F34E9 100%);

}

/* @keyframes popup {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
} */
@keyframes appear {
  0% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}
.gradient-text {
  /* background: linear-gradient(90deg, #5345E6, #8F34E9); */
  background: linear-gradient(90deg, 
        #ff0000, #ff7f00, #ffff00, #00ff00, 
        #0000ff, #4b0082, #9400d3, #ff0000);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text 2s linear infinite;
}
.gradient-bg {
  /* background: linear-gradient(90deg, #5345E6, #8F34E9); */
  background: linear-gradient(90deg, 
        #ff0000, #ff7f00, #ffff00, #00ff00, 
        #0000ff, #4b0082, #9400d3, #ff0000);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text 2s linear infinite;
}


@keyframes rainbow-text {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.slideshowSlider{
  white-space: nowrap;
  transition: ease 1000ms;
}

#container {
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  overflow: hidden;
}
#carousel-slides {
  /* display: flex; */
  transition: transform 0.5s ease-in-out;
}
#overlay{
  color:"#FFFFFF"!important;
}
.box {
  position: absolute;
  width: 100%;
  top:0;
  right:0;
  inset:0;

  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.box.active {
  opacity: 1;
}

.hover-underline:hover{
  text-decoration : underline;
}
#dateInput::-webkit-calendar-picker-indicator{
  display: none;
}

#dateInput::-webkit-input-placeholder{ 
  visibility: hidden !important;
}
.react-datepicker-wrapper{
  width: 100% !important
}
/* .number_card div{
  border: 1px solid black;
} */
/* .react-datepicker__day--disabled {
  color: #bdbdbd !important; 
  background-color: #e9e9e9 !important; 
} */
 .herobg{
background: linear-gradient(
 90deg,
  #B253E9 0%,
  #E34AA5 40%,
  #F8ECFF 40%,
  #F8ECFF 60%,
  #5345E6 60%,
  #8F34E9 100%
);
 opacity: 0.5;
  filter: blur(124px);
  /* backdrop-filter: blur(8 px); */

}
.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #5345E6, #8F34E9);
  opacity: 0.5;
  filter: blur(80px);
  z-index: -1; /* behind content */
}
.xxsss{
  background: black;

}


.step-card:nth-of-type(1) .card, .p1{
  background: linear-gradient(90deg, #5345E6 0%, #8F34E9 100%);
}
.step-card:nth-of-type(2) .card, .p2{
  background: linear-gradient(90deg, #B253E9 0%, #E34AA5 100%);
}

.step-card:nth-of-type(3) .card, .p3{
  background: linear-gradient(90deg, #ED478C 0%, #EE444D 100%);
}
.grad-0 {
  background: linear-gradient(90deg, #5345E6 0%, #8F34E9 100%);
}

.grad-1 {
  background: linear-gradient(90deg, #B253E9 0%, #E34AA5 100%);
}

.grad-2 {
  background: linear-gradient(90deg, #ED478C 0%, #EE444D 100%);
}
.gradient-p{
/* background: linear-gradient(90deg, #ff6b6b, #5f27cd, #1dd1a1); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-2-no-row-height {
  column-count: 2;
  column-gap: 16px;
}

.grid-2-no-row-height .griditem {
  break-inside: avoid;
  margin-bottom: 16px;
}


.bg-g{
  background-color: rgba(249, 250, 251, 0.418);
}

.hero h1, .hero .div{
  opacity: 0;
  transition: all 0.7s ease-in-out;
  position: relative;
  /* bottom: -100px; */
}
.hero-v h1, .hero-v .div{
  opacity: 1;
}

.hero .x{
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: relative;
  bottom: -100px;
}
.hero-v .x{
  opacity: 1;
  bottom:0;
}

.hero .u{
  opacity: 0;
  transition: all 1s ease-in-out;
  position: relative;
  bottom: -100px;
}
.hero-v .u{
  opacity: 1;
  bottom:0;
}
.hero .herobtn, .hero .herobtn3{
  opacity: 0;
  transition: all 1s ease-in-out;
  position: relative;
  bottom: -100px;
}
.hero-v .herobtn, .hero-v .herobtn3{
  opacity: 1;
  bottom:0;
}
.numbers h2, .category h5{
  opacity: 0;
  transition: all 0.8s ease-in-out;
  position: relative;
  /* bottom: -100px; */
}
.numbers-v h2, .category-v h5{
  opacity: 1;
  /* bottom:0; */
}

.numbers .number-main{
  opacity: 0;
  transition: all 0.8s ease-in-out;
  position: relative;
  bottom: -100px;
}
.numbers-v .number-main {
  opacity: 1;
  bottom:0;
}

.numbers .number-main{
  opacity: 0;
  transition: all 0.8s ease-in-out;
  position: relative;
  bottom: -100px;
}
.numbers-v .number-main {
  opacity: 1;
  bottom:0;
}
.numbers .number-btn{
  opacity: 0;
  transition: all 1.5s ease-in-out;
  position: relative;
  bottom: -300px;
}
.numbers .number-btn{
  opacity: 1;
  bottom: 0;
}

.category .category-v-left, .slide-l>.le{
  opacity: 0;
  transition: all 1s ease-in-out;
  position: relative;
  left: -300px;
}
.category-v .category-v-left, .slide-l-v>.le{
  opacity: 1;
  left: 0;
}

.category .category-v-right, .slide-l>.ri{
  opacity: 0;
  transition: all 1s ease-in-out;
  position: relative;
  right: -300px;
}
.category-v .category-v-right, .slide-l-v>.ri{
  opacity: 1;
  right: 0;
}