.loadingParent{
    display: flex;
    width: 100%;
    height:40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: l5 1s infinite;
}
@keyframes l5 {to{transform: rotate(.5turn)}}
.ldsFacebook {
    display: block;
    position: relative;
    /* left: 50%;
    transform: translateX(-50%); */
    /* width: 80px; */
    /* background: transparent; */
    height: 50vh;
  }
  .ldsFacebook div {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    background: rgb(134, 115, 115);
    animation: ldsFacebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .ldsFacebook div:nth-child(1) {
    left: 50%;
    transform: translateX(-50%);
    animation-delay: -0.24s;
  }
  .ldsFacebook div:nth-child(2) {
    left: 52%;
    transform: translateX(-50%);
    animation-delay: -0.12s;
  }
  .ldsFacebook div:nth-child(3) {
    left: 54%;
    transform: translateX(-50%);
    animation-delay: 0;
  }
  @keyframes ldsFacebook {
    0% {
      top: 8px;
      height: 48px;
    }
    50%, 100% {
      top: 24px;
      height: 24px;
    }
  }

  @media (max-width: 600px) {
    .ldsFacebook div:nth-child(2) {
      left: 54%;
      transform: translateX(-50%);
      animation-delay: -0.12s;
    }
    .ldsFacebook div:nth-child(3) {
      left: 58%;
      transform: translateX(-50%);
      animation-delay: 0;
    }
  }